@charset "utf-8";

html {
	background-color: #eee;
	height: 100%;
	overflow-y: scroll;
}

.jpp-iframe {
	background-color: transparent;
}

body {
	color: #222;
	background: transparent;
	height: 100%;
	margin: auto;
	max-width: 950px;
	text-align: left;
	font-size: 14px;
	line-height: 1.35;
}

video {
	/*box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 80%);*/
	float: left;
	margin-right: 2em;
	margin-bottom: 15px;
	max-width: 309px;
  width: 100%;
}

.date {
	font-size: 80%;
	color: #555;
}

a {
	color: black;
}

strong {
	color: #000;
}

em {
  font-size: 1rem;
  font-weight: normal;
}

.content {
	background-color: white;
	padding: 2em 2em 1em;
}

.block {
	break-inside: avoid;
}

.small-block {
	display: inline-block;
  width: 160px;
  margin-right: 1em;
  margin-bottom: 1em;
  vertical-align: top;	 
}

@media screen and (max-width: 600px) {
	.block {
		display: inline-block;
	}

	.small-block {
		width: 140px;
	}
}

.print {
	display: none;
}

p {
	margin-bottom: 1em;
}

p.last {
	margin-bottom: 0;
}

@media print {
  body {
    font-size: 12px;
  }

	span.print {
		display: inline !important;
	}

	video {
		display: none;
	}
}
