@charset "utf-8";

html {
	background-color: #eee;
	height: 100%;
	overflow-y: scroll;
}

body {
	color: black;
	height: 100%;
	margin: auto;
	width: 650px;
}

a {
	color: black;
}

.content {
	background-color: white;
	padding: 30px;
}

.top {
	overflow: auto;
}

.top, .top a {
	color: #666;
}

.personal {
	float: left;
}

.contact {
	float: right;
}

.about h2 {
	margin-bottom: 4px;
}

.about h3 {
	margin-bottom: 4px;
}

ul.about, .about ul.category {
	list-style: none;
	margin: 0px;
}

.about li {
	padding: 3px 20px 3px 7px;
}

.about li:hover {
	background-color: #eee;
	cursor: pointer;
	cursor: hand;
}

.about .category li:hover {
	background-color: #ddd;
}

.about li.static:hover {
	background-color: white;
	cursor: auto;
}

.about .category li.static:hover {
	background-color: #eee;
	cursor: pointer;
	cursor: hand;
}

.about ul.category {
	margin-left: 30px;
}

.about .category .time {
	float: right;
	color: #555;
}

.about .item {
	display: none;
	margin-left: 30px;
}