@charset "utf-8";

html {
	background-color: #eee;
	height: 100%;
	overflow-y: scroll;
}

.jpp-iframe {
	background-color: transparent;
}

body {
	color: black;
	background: transparent;
	height: 100%;
	margin: auto;
	width: 650px;
	text-align: justify;
}

a {
	color: black;
}

.content {
	background-color: white;
	padding: 30px;
}

.top {
	overflow: auto;
}

.top, .top a {
	color: #666;
}

.personal {
	float: left;
}

.contact {
	float: right;
}

.info {
	margin-bottom: 20px;
}

.about h2 {
	margin-bottom: 4px;
}

.about h3 {
	margin-bottom: 4px;
}

ul.about, .about ul.category {
	list-style: none;
	margin: 0;
}

.about li {
	padding: 3px 20px 3px 0px;
	cursor: pointer;
	cursor: hand;
}

.about li:hover {
	background-color: #eee;
}

.about .category li:hover {
	background-color: #ddd;
}

.about li.static {
	cursor: auto;
}

.about li.static:hover {
	background-color: white;
}

.about .category li.static {
	cursor: pointer;
	cursor: hand;
}

.about .category li.static:hover {
	background-color: #eee;
}

.about ul.category {
	margin-left: 30px;
}

.about .category .time {
	float: right;
	color: #555;
}

.about .item {
	display: none;
	margin-left: 30px;
}

.print {
	display: none;
}

.site {
	font-style: italic;
	text-align: left;
}

.category li, .about .item {
	page-break-inside: avoid;
}

h2 {
	page-break-after: avoid;
}

ul.category {
	page-break-before: avoid;
}

p {
	margin-bottom: 0.5em;
}

p.last {
	margin-bottom: 0;
}

@media print {
	.about ul, .about li, .about .item, .print {
		display: block !important;
	}
	
	span.print {
		display: inline !important;
	}
	
	.noprint {
		display: none;
	}
	
	.about a:link, .about a:visited
	{
		color: black;
		background: transparent;
		font-weight: bold;
		text-decoration: none;
	}
	
	.top a:link, .top a:visited
	{
		color: #666;
		background: transparent;
		font-weight: normal;
		text-decoration: none;
	}
	
	abbr,
	acronym
	{
		border-bottom: none;
		font-variant: normal;
		font-style: italic;
	}
	
	abbr[title]:after,
	acronym[title]:after
	{
		content: ” (” attr(title) “)”;
		font-size: 90%;
		font-style: normal;
	}
}